* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header-links {
    list-style-type: none;
    display: flex;
    padding: 20px
}

.header-links a {
    color: white;
    font-size: 20px;
}

.header {
    background-color: black;
}

.main-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
}

tr {
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #D6EEEE;
}

tr:hover:nth-child(even) {
    background-color: white;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.new-person-button-container {
    display: flex;
    margin-top: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}
th, td {
    padding: 10px;
}

.pagination-container {
    margin: 20px;
    padding: 30px;
    border-radius: 300px;
    background-color: #D6EEEE;
    box-shadow: 0 0 10px 5px #cfcfcf;
}

/* V button 20 V */

.button-20 {
    appearance: button;
    background-color: #4D4AE8;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    border: 1px solid #4D4AE8;
    border-radius: 1rem;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    padding: .5rem 1rem;
    text-align: center;
    text-transform: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-20:focus:not(:focus-visible),
.button-20:focus {
    outline: 0;
}

.button-20:hover {
    background-color: #3733E5;
    border-color: #3733E5;
}

.button-20:focus {
    background-color: #413FC5;
    border-color: #3E3BBA;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button-20:active {
    background-color: #3E3BBA;
    background-image: none;
    border-color: #3A38AE;
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.button-20:active:focus {
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
}

.button-20:disabled {
    background-image: none;
    box-shadow: none;
    opacity: .65;
    pointer-events: none;
}